<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <input type="text" placeholder="Name" name="Name">
        <button placeholder="Submit">submit</button>
    </form>
    <h2><%= name %></h2>
</body>
</html>